<!DOCTYPE html>
<html ng-app="encounter" id="ng-app" xmlns:ng="http://angularjs.org">
  <head>
    <base href="http://encountermuseum.github.io/encounter-museum/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Encounter World Religions offers educational, spiritual and cultural encounters
    with the world religions and their communities.">
    <meta name="keywords" content="Encounter World Religions, Courses, Diversity, Non-Demoninational, World Religions, Toronto, Ontario, Canada">
    <meta name="author" content="Braden Shepherdson" />
    <meta name="Robots" content="noarchive">

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/showdown.js"></script>

    <script src="js/app.js"></script>
    <script src="js/backend.js"></script>

    <!--[if lte IE 8]>
    <script src="js/vendor/json3.js"></script>
    <![endif-->
  </head>
  <body ng-app="encounter">
    <!-- start header -->
    <div id="container">
      <div id="header" ng-controller="menu">
        <div id="logo">
          <a href="http://www.worldreligionsmuseum.ca/" title="EWRM Home" ><img src="img/EWR4banner.jpg" alt="EWRM logo" /></a>
        </div>
        <div id="menubar">
          <div class="menubuttonbar">
            <div ng-repeat="item in menu" class="menubutton" ng-class="{ first: $first, current: item.slug == menuSelected }">
              <a ng-href="{{ item.link }}"><span>{{ item.name }}</span></a>
            </div>
          </div>
          <div class="menusearch">
            <input type="text" placeholder="Search" length=30 ng-model="search" />
          </div>
        </div>
        <div class="searchresults" ng-show="searchResults">
          <div ng-repeat="result in searchResults" class="searchresult", ng-click="show(result)">
            <div class="imgbox">
              <img ng-src="assets/thumbs/{{ result.images[0] }}" />
            </div>
            <div class="searchresulttext">
              <div class="searchresulttitle">{{ result.title }}</div>
              <div class="searchresulttradition">{{ result.tradition }}</div>
            </div>
          </div>
        </div>
      </div>
      <div id="wrapper">
        <div id="content" ng-view> <!--style="margin-right:280px">-->
        </div>
      </div>  <!-- end wrapper -->

      <div id="footer">
        <!--
        <ul>
          <li></li>
          <li></li>
          <li> <a href="http://www.worldreligions.ca/index.php/about-us/privacy" title="Privacy Policy" >Privacy</a></li>
          <li><form method="get" action="http://www.google.com/search" id="searchform">
            <input type="hidden" name="as_sitesearch" value="cms.worldreligions.ca" />
            <input name="as_q" class="textbox" />
            <input type="submit" class="button" />
          </form></li>
        </ul>
        -->
        <span id="copyright">&copy; Copyright 2013&nbsp;&nbsp;<img src="http://cms.worldreligions.ca/uploads/images/EWR3footerEWRC.gif" /></span>
        <p><span id="version">Website: v0.1.0</span>
        <span id="platformversion">This site is powered by <a href="http://angularjs.org">AngularJS</a></span></p>
      </div>
    </div>  <!-- end container -->
  </body>
</html>

