<div class="relative globe">
  <div class="main-text">
    <p class="end-line" style="margin-left: 90px;">Welcome to the Encounter World Religions Museum.</p>
    <p class="one-line" style="margin-left: 105px;">Traditional museums have walls, roofs, rooms…and admission fees. The Encounter World Religions</p>
    <p class="end-line" style="margin-left: 118px;">Museum has none of these. Ours is a virtual museum for study and enjoyment…for free.</p>
    <p class="one-line" style="margin-left: 130px;">The artifacts in this virtual museum do actually exist in the Encounter World Religions Centre as</p>
    <p class="one-line" style="margin-left: 135px;">a personal collection accumulated over nearly fifty years of study and instruction of diverse</p>
    <p class="end-line" style="margin-left: 140px;">People, Places, Practices and Philosophies from around the world.</p>
    <p class="one-line" style="margin-left: 140px;">Encounter is pleased to make this private acquisition available for public viewing by displaying</p>
    <p class="one-line" style="margin-left: 137px;">this vast collection in a virtual space. So take a virtual stroll through our galleries and explore</p>
    <p class="end-line" style="margin-left: 130px;">nearly twenty religions and ancient cultures…and don’t miss the “Just For Fun” gallery.</p>
    <p class="end-line" style="margin-left: 125px;">Remember to bookmark us among your favourites and come back often.</p>
    <p class="end-line" style="margin-left: 112px;">Look…learn…enjoy.</p>
  </div>
</div>
