<div class="relative">
  <div class="globe">
    <img src="img/ewrglobe.museum.small.png" />
  </div>
  <div class="main-text">
    <p class="end-line" style="font-weight: bold; margin-left: 110px;">Welcome to the Encounter World Religions Museum.</p>
    <p class="one-line" style="margin-left: 115px;">Traditional museums have walls, roofs, rooms…and admission fees. </p>
    <p class="one-line" style="margin-left: 122px;">The Encounter World Religions Museum has none of these. Ours is a virtual </p>
    <p class="end-line" style="margin-left: 130px;">museum for study and enjoyment…for free.</p>
    <p class="one-line" style="margin-left: 135px;">The artifacts in this virtual museum do actually exist in the Encounter World</p>
    <p class="one-line" style="margin-left: 138px;">Religions Centre as a personal collection that we are making available for</p>
    <p class="one-line" style="margin-left: 140px;">public viewing by displaying in a virtual space. So take a stroll through</p>
    <p class="one-line" style="margin-left: 140px;">our galleries and explore nearly twenty religions and ancient cultures.</p>
    <p class="end-line" style="margin-left: 138px;">Don't miss the "Just for Fun" gallery.</p>

    <p class="one-line" style="margin-left: 130px;">Bookmark us among your favourites and come back often.</p>
  </div>
</div>
