<div class="relative">
  <div class="globe">
    <img src="img/ewrglobe.museum.small.png" />
  </div>
  <div class="main-text">
    <p class="end-line" style="font-weight: bold; margin-left: 110px;">Welcome to the Encounter World Religions Museum.</p>
    <p class="one-line" style="margin-left: 115px;">Traditional museums have walls, roofs, rooms…and admission fees. </p>
    <p class="one-line" style="margin-left: 122px;">The Encounter World Religions Museum has none of these. Ours is a virtual </p>
    <p class="one-line" style="margin-left: 130px;">museum for study and enjoyment…for free. The artifacts in this virtual museum</p>
    <p class="one-line" style="margin-left: 135px;">do actually exist in the Encounter World Religions Centre as a personal</p>
    <p class="one-line" style="margin-left: 138px;">collection accumulated over nearly fifty years of study and instruction of</p>
    <p class="end-line" style="margin-left: 140px;">diverse People, Places, Practices and Philosophies from around the world.</p>
    <p class="one-line" style="margin-left: 140px;">Encounter is pleased to make this private acquisition available for public</p>
    <p class="one-line" style="margin-left: 138px;">viewing by displaying this vast collection in a virtual space. So take a virtual</p>
    <p class="one-line" style="margin-left: 134px;">stroll through our galleries and explore nearly twenty religions and ancient</p>
    <p class="one-line" style="margin-left: 128px;">cultures…and don’t miss the “Just For Fun” gallery. Remember to bookmark us</p>
    <p class="end-line" style="margin-left: 122px;">among your favourites and come back often.</p>
    <p class="end-line" style="margin-left: 110px;">Look…learn…enjoy.</p>
  </div>
</div>
