<div ng-bind-html="content.description"></div>
<hr/>
<div id="artifact" class="row artifact relative">
  <div class="magnifier" ng-show="magnify.style" id="magnifier">
    <div class="relative">
      <img id="magnified" ng-src="assets/big/{{ artifact.images[index] }}" ng-style="magnify.style" />
    </div>
  </div>

  <div class="col-md-6 image-pane">
    <div class="img-container">
      <img ng-src="assets/{{ artifact.images[index] }}" enc-magnifier />
    </div>

    <div class="slider">
      <ul class="image-strip">
        <li class="link"><a ng-click="prevImage()" ng-show="index > 0">Prev</a></li>
        <li ng-repeat="image in artifact.images | limitTo: entryLimit" ng-class="{ selected: index == $index }">
          <img ng-src="assets/thumbs/{{ image }}" ng-click="changePicture($index)" />
        </li>
        <li class="link"><a ng-click="nextImage()" ng-show="index < artifact.images.length - 1">Next</a></li>
      </ul>
      <div class="gallery-toolbar">
        <a href="" ng-click="prevArtifact()">Prev</a>
        <a href="" ng-click="overview = true">Overview</a>
        <a href="" ng-click="nextArtifact()">Next</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 scroll">
    <h3>{{ artifact.title }}</h3>
    <div ng-show="artifact.size"><strong>Size:</strong> {{ artifact.size }}</div>
    <div ng-show="artifact.date"><strong>Approx Date:</strong> {{ artifact.date }}</div>
    <div ng-show="artifact.origin"><strong>Origin:</strong> {{ artifact.origin }}</div>
    <div ng-bind-html="artifact.descriptionHTML"></div>
  </div>
</div>

<hr/>

