<div ng-bind-html="content.description"></div>
<hr/>
<div id="artifact" class="row artifact relative">
  <div class="magnifier" ng-show="magnify.style" id="magnifier">
    <div class="relative">
      <img id="magnified" ng-src="{{ artifact.bigImage }}" ng-style="magnify.style" />
    </div>
  </div>

  <div class="col-md-6 image-pane">
    <div class="img-container">
      <img ng-src="{{artifact.image}}" enc-magnifier />
    </div>

    <div class="slider">
      <ul class="image-strip">
        <li class="link"><a ng-click="prev()" ng-show="page > 0">Prev</a></li>
        <li ng-repeat="image in content.images | startFrom: entryLimit*page | limitTo: entryLimit" ng-class="{ selected: index == $index }">
          <img ng-src="/assets/thumbs/{{ image.image }}" ng-click="change($index)" />
        </li>
        <li class="link"><a ng-click="next()" ng-show="(page+1) * entryLimit < content.images.length">Next</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 scroll">
    <h3>{{ artifact.title }}</h3>
    <div ng-show="artifact.size"><strong>Size:</strong> {{ artifact.size }}</div>
    <div ng-show="artifact.date"><strong>Approx Date:</strong> {{ artifact.date }}</div>
    <div ng-show="artifact.origin"><strong>Origin:</strong> {{ artifact.origin }}</div>
    <div ng-bind-html="artifact.descriptionHTML"></div>
  </div>
</div>

<hr/>

