<div ng-bind-html="content.description"></div>
<hr/>
<div id="artifact" class="row artifact relative">
  <div class="magnifier" ng-show="magnify.style" id="magnifier">
    <div class="relative">
      <img id="magnified" ng-src="assets/big/{{ artifact.images[index] }}" ng-style="magnify.style" />
    </div>
  </div>

  <div class="col-md-12 overview" ng-show="overview">
    <div class="overview-image-box" ng-repeat="art in content.artifacts" ng-click="select($index)">
      <img class="overview-image" ng-src="assets/thumbs/{{ art.images[0] }}" />
    </div>
  </div>
  <div class="col-md-6 image-pane" ng-show="!overview">
    <div class="img-container">
      <img ng-src="assets/{{ artifact.images[index] }}" enc-magnifier />
    </div>

    <div class="slider">
      <ul class="image-strip">
        <li class="link"><a ng-click="prevImage()" ng-show="index > 0">Prev</a></li>
        <li ng-repeat="image in artifact.images | startFrom: entryLimit*page | limitTo: entryLimit" ng-class="{ selected: pageIndex == $index }">
          <img ng-src="assets/thumbs/{{ image }}" ng-click="changePicture(page*entryLimit + $index)" />
        </li>
        <li class="link"><a ng-click="nextImage()" ng-show="index < artifact.images.length - 1">Next</a></li>
      </ul>
      <div class="gallery-toolbar">
        <span class="right counter">{{ globalIndex+1 }} of {{ content.artifacts.length }}</span>
        <span class="center">
          <a href="" ng-click="prevArtifact()">Prev</a>
          <a href="" ng-click="overview = true">Overview</a>
          <a href="" ng-click="nextArtifact()">Next</a>
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-6 scroll" ng-show="!overview">
    <h3>{{ artifact.title }}</h3>
    <div ng-show="artifact.size"><strong>Size:</strong> {{ artifact.size }}</div>
    <div ng-show="artifact.date"><strong>Approx Date:</strong> {{ artifact.date }}</div>
    <div ng-show="artifact.origin"><strong>Origin:</strong> {{ artifact.origin }}</div>
    <div ng-bind-html="artifact.descriptionHTML"></div>
  </div>
</div>

<hr/>

